.selected-card {
	height: 334px;
	padding-top: 24px;
	overflow-y: scroll;

	&::-webkit-scrollbar {
		width: 0;
	}

	&::-webkit-scrollbar-track {
		box-shadow: none;
	}

	&::-webkit-scrollbar-thumb {
		background-color: transparent;
		outline: none;
	}
}

.selected-card__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.selected-card__item {
	& + & {
		margin-top: 24px;
	}
}

.selected-card__top {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.selected-card__item-img {
	display: block;
	margin-right: 6px;
	object-fit: cover;
}
.selected-card__top-wrapper {
	position: relative;
}

.selected-card__title {
	margin: 0;
	margin-bottom: 4px;
	margin-right: 60px;
	width: 140px;
	font-weight: 500;
	font-size: 14px;
	line-height: 130%;
	color: #ffffff;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.selected-card__top-price {
	font-weight: 500;
	font-size: 12px;
	line-height: 140%;
	color: #abbbc2;
}

.selected-card__top-total {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
	width: 48px;
	height: 48px;
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	color: #ffffff;
	background-color: #2d303e;
	border: 1px solid #393c49;
	border-radius: 8px;
}

.selected-card__top-totalprice {
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	text-align: right;
	color: #ffffff;
}

.selected-card__bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.selected-card__bottom-inp {
	width: 100%;
	max-width: 297px;
	padding: 14px;
	background-color: #2d303e;
	color: #fff;
	border: 1px solid #393c49;
	border-radius: 8px;

	&::placeholder {
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
		color: #889898;
	}
}

.selected-card__bottom-btn {
	width: 48px;
	height: 48px;
	background-color: transparent;
	border: 1px solid #ff7ca3;
	border-radius: 8px;
	cursor: pointer;

	&:hover {
		.del-icon {
			color: #fff;
		}
	}
}

.del-icon {
	color: #ff7ca3;
}
