.products-management {
	position: absolute;
	top: 87px;
	right: 24px;
	left: 423px;
}

.product__header-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 24px;
}

.product__header-title {
	margin: 0;
	font-weight: 600;
	font-size: 20px;
	line-height: 140%;
	color: #ffffff;
}

.product__select-wrapper {
	width: 178px;
	position: relative;
	padding: 15px 15px 15px 44px;
	font-weight: 500;
	font-size: 14px;
	line-height: 130%;
	color: #ffffff;
	background-color: #1f1d2b;
	border: 1px solid #393c49;
	border-radius: 8px;
	appearance: none;

	&::before {
		position: absolute;
		top: 14px;
		left: 14px;
		width: 20px;
		height: 20px;
		background-image: url('../../assets/images/order-icon.svg');
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center;
		content: '';
	}
}

.product__select {
	font-weight: 500;
	font-size: 14px;
	line-height: 130%;
	color: #ffffff;
	background-color: transparent;
	border: 0;
	appearance: none;
	outline: none;
}

.product__header-bottom {
	border-bottom: 1px solid #393c49;
}

.product__list {
	margin: 0;
	padding: 0 24px 24px 24px;
	border: none;
}

.product__card {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	padding: 24px;
}

.product__card-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 221px;
	height: 299px;
	border: 1px dashed #ea7c69;
	border-radius: 8px;
	cursor: pointer;
}

.product__card-item-btn {
	display: block;
	margin-bottom: 44px;
	width: 15px;
	height: 15px;
	font-size: 44px;
	color: #ea7c69;
}

.product__card-item-text {
	margin: 0;
	font-weight: 600;
	font-size: 16px;
	line-height: 140%;
	text-align: center;
	color: #ea7c69;
}
