.card {
	margin-left: 114px;
	margin-right: 447px;
}

.card__list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	padding-top: 58px;
	gap: 58px;
	list-style-type: none;
}

.card__item {
	position: relative;
	width: 192px;
	padding: 114px 24px 24px 24px;
	background-color: #1f1d2b;
	border-radius: 16px;

	&::before {
		position: absolute;
		top: -36px;
		right: 0;
		left: 0;
		margin: 0 auto;
		width: 132px;
		height: 132px;
		background-image: url('../../assets/images/card1.png');
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center;
		content: '';
	}

	&:nth-child(2):before {
		background-image: url('../../assets/images/card2.png');
	}

	&:nth-child(3):before {
		background-image: url('../../assets/images/card3.png');
	}

	&:nth-child(4):before {
		background-image: url('../../assets/images/card4.png');
	}

	&:nth-child(5):before {
		background-image: url('../../assets/images/card5.png');
	}

	&:nth-child(6):before {
		background-image: url('../../assets/images/card6.png');
	}

	&:nth-child(7):before {
		background-image: url('../../assets/images/card1.png');
	}

	&:nth-child(8):before {
		background-image: url('../../assets/images/card2.png');
	}

	&:nth-child(9):before {
		background-image: url('../../assets/images/card3.png');
	}

	&:nth-child(10):before {
		background-image: url('../../assets/images/card4.png');
	}

	&:nth-child(11):before {
		background-image: url('../../assets/images/card5.png');
	}

	&:nth-child(12):before {
		background-image: url('../../assets/images/card6.png');
	}
}

.card__item-title {
	margin: 0;
	margin-bottom: 8px;
	font-weight: 500;
	font-size: 14px;
	line-height: 130%;
	text-align: center;
	color: #ffffff;
}

.card__item-price {
	display: block;
	margin-bottom: 4px;
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	text-align: center;
	color: #ffffff;
}

.card__item-text {
	margin: 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	text-align: center;
	color: #abbbc2;
}
