.card {
	margin-left: 114px;
	margin-right: 447px;
}

.card__list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	padding-top: 58px;
	gap: 58px;
	list-style-type: none;
}

.card__item {
	position: relative;
	width: 192px;
	padding: 114px 24px 24px 24px;
	background-color: #1f1d2b;
	border-radius: 16px;
	cursor: pointer;
}

.card__item-img {
	position: absolute;
	top: -36px;
	right: 0;
	left: 0;
	margin: 0 auto;
	display: block;
	width: 132px;
	height: 132px;
	border-radius: 50%;
	animation-name: slidein;
	animation-duration: 9000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes slidein {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.card__item-title {
	margin: 0;
	margin-bottom: 8px;
	font-weight: 500;
	font-size: 14px;
	line-height: 130%;
	text-align: center;
	color: #ffffff;
}

.card__item-price {
	display: block;
	margin-bottom: 4px;
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	text-align: center;
	color: #ffffff;
}

.card__item-text {
	margin: 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 140%;
	text-align: center;
	color: #abbbc2;
}
