.most-type {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 372px;
	margin-bottom: 24px;
	margin-right: 24px;
	padding: 24px;
	background: #1f1d2b;
	border-radius: 8px;
}

.most-type__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 16px;
	border-bottom: 1px solid #393c49;
}

.most-type__header-title {
	margin: 0;
	font-weight: 600;
	font-size: 20px;
	line-height: 140%;
	color: #ffffff;
}

.most-type__header-select {
	width: 95px;
}

.most-type__appexcharts {
	display: flex;
	align-items: center;
	padding-top: 24px;
}

.most-type__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.most-type__item {
	display: flex;

	& + & {
		margin-top: 16px;
	}

	&:nth-child(2) {
		.most-type__item-circle {
			background-color: #ffb572;
		}
	}

	&:nth-child(3) {
		.most-type__item-circle {
			background-color: #65b0f6;
		}
	}
}

.most-type__item-circle {
	display: block;
	width: 18px;
	height: 18px;
	margin-right: 9px;
	border-radius: 50%;
	background-color: #ff7ca3;
}

.most-type__item-title {
	margin: 0;
	margin-bottom: 2px;
	font-weight: 500;
	font-size: 14px;
	line-height: 130%;
	color: #ffffff;
}

.most-type__item-text {
	margin: 0;
	font-weight: 400;
	font-size: 12px;
	line-height: 140%;
	color: #abbbc2;
}
